.vscode
.github
.scripts/
node_modules
build/
bin/
out/
src/
test/
tmp/
tsconfig.json
renovate.json
webpack.config.js
.nvmrc
.envrc
.prettierrc.json
.eslintrc.json
.DS_Store
.gitignore
CONTRIBUTING.md